
.hero__down {
    background: rgba(255, 114, 53, 1);
    height: 800px;
    text-align: center;
    padding-top: 120px;
    background-image: url(people.svg), url(back.svg);
    background-repeat: no-repeat;
    background-position: left, left;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero__sub {
    text-align: center;
    margin-left: 260px;

}

.title__down {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Hind Siliguri;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    color: white;
    text-align: center;
    width: 920px;
    height: 144px;
    margin: 0 auto;
    margin-top: 20px;
}

.subtitle__down {
    font-family: Hind Siliguri;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    color: white;

}

.bg {}

.people {}

.btn__down {
    margin: 0 auto;
    width: 213px;
    height: 60px;
    top: 384px;
    left: 613px;
    padding: 18px 24px 18px 24px;
    gap: 10px;
    border-radius: 8px;
    font-family: Hind Siliguri;
    font-size: 22px;
    font-weight: 400;
    line-height: 20.9px;
    text-align: left;
    color: rgba(255, 114, 53, 1);
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
   
}