

.header-box {
    display: flex;
    margin-left: 165px;
    margin-top: 57px;
    width: 1109px;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-img {
    width: 112px;
    height: 40px;
}

.header-text {
    margin-left: 251px;
    font-family: Hind Siliguri;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;

}

.header-text1 {
    font-family: Hind Siliguri;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;
}

.header-text2 {
    font-family: Hind Siliguri;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;

}

.header-text3 {
    font-family: Hind Siliguri;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;

}

.header-btn {
    width: 160px;
    height: 48px;
    background: none;
    border: 1px solid #FF7235;
    color: #FF7235;
    border-radius: 10px;
}

.header-btn:hover {
    background-color: #FF7235;
    color: white;
    transition: all 1s ease;
    border: 2px solid #FF7235;
  }

//header-box1
.header-box1 {
    margin-left: 165px;
    display: flex;
    margin-bottom: 211px;
}
.header-box1-img{
    margin-top: 106px;
    margin-left: 30px;
}
.header-box1-box {
    margin-top: 160px;
    width: 540px;
    height: 462px;
    top: 219px;
    left: 165px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

}

.header-box1-text {
    //styleName: Title;
    font-family: Hind Siliguri;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;

}

.header-box1-text1 {
    margin-top: 20px;
    font-family: Hind Siliguri;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;


}

.header-box1-box-box {
    display: flex;
}

.header-box1-box-box-btn {
    width: Hug (225px)px;
    height:  60px;
    top: 606px;
    left: 165px;
    padding: 18px 24px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    border: none;
    background: #FF7235;
    color: white;
}

.header-box1-box-box-text {
    //styleName: Sub-title;
    font-family: Hind Siliguri;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #BDBDBD;
    margin-left: 24px;
}